canvas{
    border: 10px solid #4c69c0;
    border-radius: 20px;
    width: 1200px;
    background-color: #b7ebff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 136);
}

h1{
    font-size: 3rem;
    color: #dae3ff;
}